<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dentist.Properties.Settings.NedoDentConnectionString"
            connectionString="Data Source=DESKTOP-GQVLG0R;Initial Catalog=NedoDent;Persist Security Info=True;User ID=Dentist;Password=Sa7EBR35"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>